<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.divyeshbc.NHSF" >

    <!-- Parse settings -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.divyeshbc.NHSF.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.divyeshbc.NHSF.permission.C2D_MESSAGE" />

    <!--  -->
    <application
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/nhsf_app_logo_androidx144"
        android:label="@string/app_name"
        android:theme="@style/Theme.Custom" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <!--android:parentActivityName=".SplashActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.divyeshbc.NHSF.SplashActivity" />
            -->
            <intent-filter>
                <action android:name="android.intent.action.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tabs.aboutUs.IntroductionActivity"
            android:label="@string/Introduction"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.divyeshbc.NHSF.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.ACTION_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tabs.aboutUs.NationalCommitteeActivity"
            android:label="@string/title_activity_natcom"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.divyeshbc.NHSF.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SEND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tabs.aboutUs.AdminTeamActivity"
            android:label="@string/title_activity_adminteam"
            android:parentActivityName=".tabs.aboutUs.NationalCommitteeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tabs.aboutUs.NationalCommitteeActivity" />
        </activity>
        <activity
            android:name=".tabs.aboutUs.TeamCoordinatorsActivity"
            android:label="@string/title_activity_tc"
            android:parentActivityName=".tabs.aboutUs.NationalCommitteeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tabs.aboutUs.NationalCommitteeActivity" />
        </activity>
        <activity
            android:name=".tabs.campus.NHSFAstonImageActivity"
            android:label="@string/title_activity_NHSFAstonImage">

            <intent-filter>
                <action android:name="android.intent.action.ACTION_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tabs.campus.NHSFBCUImageActivity"
            android:label="@string/title_activity_NHSFBCUImage">

            <intent-filter>
                <action android:name="android.intent.action.ACTION_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tabs.campus.NHSFBirminghamImageActivity"
            android:label="@string/title_activity_NHSFBirminghamImage">

            <intent-filter>
                <action android:name="android.intent.action.ACTION_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tabs.campus.NHSFBPPImageActivity"
            android:label="@string/title_activity_NHSFBPPImage">

            <intent-filter>
                <action android:name="android.intent.action.ACTION_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tabs.campus.NHSFBradfordImageActivity"
            android:label="@string/title_activity_NHSFBradfordImage">

            <intent-filter>
                <action android:name="android.intent.action.ACTION_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tabs.campus.NHSFBrightonImageActivity"
            android:label="@string/title_activity_NHSFBrightonImage">

            <intent-filter>
                <action android:name="android.intent.action.ACTION_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tabs.campus.NHSFBristolImageActivity"
            android:label="@string/title_activity_NHSFBristolImage">

            <intent-filter>
                <action android:name="android.intent.action.ACTION_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tabs.campus.NHSFBrunelImageActivity"
            android:label="@string/title_activity_NHSFBrunelImage">

            <intent-filter>
                <action android:name="android.intent.action.ACTION_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tabs.campus.NHSFBucksImageActivity"
            android:label="@string/title_activity_NHSFBucksNewUniImage">

            <intent-filter>
                <action android:name="android.intent.action.ACTION_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tabs.campus.NHSFCityImageActivity"
            android:label="@string/title_activity_NHSFCityImage">

            <intent-filter>
                <action android:name="android.intent.action.ACTION_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tabs.campus.NHSFCoventryImageActivity"
            android:label="@string/title_activity_NHSFCoventryImage">

            <intent-filter>
                <action android:name="android.intent.action.ACTION_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tabs.campus.NHSFDMUImageActivity"
            android:label="@string/title_activity_NHSFDMUImage">

            <intent-filter>
                <action android:name="android.intent.action.ACTION_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tabs.campus.NHSFExeterImageActivity"
            android:label="@string/title_activity_NHSFExeterImage">

            <intent-filter>
                <action android:name="android.intent.action.ACTION_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tabs.campus.NHSFGreenwichImageActivity"
            android:label="@string/title_activity_NHSFGreenwichImage">

            <intent-filter>
                <action android:name="android.intent.action.ACTION_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>




        <activity android:name=".tabs.learning.MustKnowMantrasActivity"
                  android:label="@string/title_activity_mustKnowMantras">

            <intent-filter>
                <action android:name="android.intent.action.ACTION_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".tabs.learning.MustReadActivity"
                  android:label="@string/title_activity_mustRead">

            <intent-filter>
                <action android:name="android.intent.action.ACTION_SEND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tabs.learning.BhagavadGitaActivity"
            android:label="@string/title_activity_bhagavadGita"
            android:parentActivityName=".tabs.learning.MustReadActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tabs.learning.MustReadActivity" />
        </activity>
        <activity
            android:name=".tabs.learning.WhatIsHinduismActivity"
            android:label="@string/title_activity_whatishinduism"
            android:parentActivityName=".tabs.learning.MustReadActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tabs.learning.MustReadActivity"/>
        </activity>
        <activity
            android:name=".tabs.learning.QuestionsActivity"
            android:label="@string/title_activity_questions"
            android:parentActivityName=".tabs.learning.WhatIsHinduismActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tabs.learning.WhatIsHinduismActivity"/>
        </activity>
        <activity
            android:name=".tabs.learning.HinduBasicsActivity"
            android:label="@string/title_activity_hinduBasics"
            android:parentActivityName=".tabs.learning.WhatIsHinduismActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tabs.learning.WhatIsHinduismActivity"/>
        </activity>
        <activity
            android:name=".tabs.learning.RealQuestionsActivity"
            android:label="@string/title_activity_hinduBasics"
            android:parentActivityName=".tabs.learning.WhatIsHinduismActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tabs.learning.WhatIsHinduismActivity"/>
        </activity>
        <activity
            android:name=".tabs.learning.HinduismPrimerTopicActivity"
            android:label="@string/title_activity_hinduBasics"
            android:parentActivityName=".tabs.learning.WhatIsHinduismActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tabs.learning.WhatIsHinduismActivity"/>
        </activity>
        <activity
            android:name=".tabs.learning.WhyDoWeActivity"
            android:label="@string/title_activity_whyDoWe"
            android:parentActivityName=".tabs.learning.MustReadActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tabs.learning.MustReadActivity"/>
        </activity>
        <activity
            android:name=".tabs.learning.LotusActivity"
            android:label="@string/title_activity_lotus"
            android:parentActivityName=".tabs.learning.WhyDoWeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tabs.learning.WhyDoWeActivity"/>
        </activity>
        <activity
            android:name=".tabs.learning.PradakshinaActivity"
            android:label="@string/title_activity_lotus"
            android:parentActivityName=".tabs.learning.WhyDoWeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tabs.learning.WhyDoWeActivity"/>
        </activity>
        <activity
            android:name=".tabs.learning.FastActivity"
            android:label="@string/title_activity_lotus"
            android:parentActivityName=".tabs.learning.WhyDoWeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tabs.learning.WhyDoWeActivity"/>
        </activity>
        <activity
            android:name=".tabs.learning.TreesPlantsActivity"
            android:label="@string/title_activity_lotus"
            android:parentActivityName=".tabs.learning.WhyDoWeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tabs.learning.WhyDoWeActivity"/>
        </activity>
        <activity
            android:name=".tabs.learning.BellActivity"
            android:label="@string/title_activity_lotus"
            android:parentActivityName=".tabs.learning.WhyDoWeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".tabs.learning.WhyDoWeActivity"/>
        </activity>

        <!-- Configuring Parse -->
        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.divyeshbc.NHSF" />
            </intent-filter>
        </receiver>
        <!--  -->
        <meta-data
            android:name="com.divyeshbc.NHSF.notifcation_icon"
            android:resource="@mipmap/nhsf_logo_push_android" />

    </application>

</manifest>
