<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.divyeshbc.NHSF" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/nhsf_app_logo_androidx144"
        android:label="@string/app_name"
        android:theme="@style/Theme.Custom" >
        <activity
            android:name="com.divyeshbc.NHSF.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
